/*
  ==========================================================================
  @section: Main StyleSheets (CSS)
  ==========================================================================
*/

html {
  font-size: 100%;
  background: #ffffff;
  color: #333333;
  font-family: helvetica, arial, sans-serif;
}

@media (max-width: 30em) {
  html {
    font-size: 80%;
  }
}

body {
  line-height: 1.2;
  text-transform: uppercase;
}

header {
  background: #333333;
  color: #ffffff;
}

h1 {
  font-size: 1rem;
  font-weight: normal;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

article {
  padding-bottom: 2rem;
}

article:last-child {
  padding-bottom: 0;
}

h2 {
  font-size: 0.5rem;
  font-weight: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-size: 2rem;
}

@media (max-width: 60em) {
  ul {
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
  color: #eeeeee;
  transition: color 250ms;
}

a:hover {
  color: #333333;
}

strong {
  color: #333333;
  font-weight: normal;
}

footer {
  padding-bottom: 1rem;
}

.footer-link {
  font-size: 0.5rem;
  color: #333333;
}

.footer-link:hover {
  background: #333333;
  color: #ffffff;
}

.wrap {
  margin: 0 auto;
  width: 90%;
  max-width: 1024px;
}
